* {
    -fx-logo-color: #49caf5;
    -fx-standard-background: lightgrey;
    -fx-label-color: white;
}

.root {
    -fx-background-color: -fx-standard-background;
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
}

.performance_bar {
    -fx-background-color: linear-gradient(to right, red, yellow, green);
    -fx-background-radius: 11px;
    -fx-border-style: solid;
    -fx-border-color: -fx-logo-color;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

.performance_overlay {
    -fx-background-color: rgba(100,100,100,.5);
    -fx-background-radius: 10px;
}

.brake_light_on {
    -fx-fill: red;
    -fx-effect: dropshadow(gaussian, red, 10, .2, 0, 0);
    -fx-stroke: black 1px;
    -fx-padding: 10px;
}

.brake_light_off{
    -fx-fill: #643026;
    -fx-stroke: black 1px;
    -fx-padding: 10px;
}

/* Graph styles */

.graph > .graph_label{
    -fx-font-size: .8em !important;
}

.graph > .graph_value_labels > .label {
    -fx-font-size: .6em !important;
}

.axis{
    -fx-stroke: #636363;
    -fx-stroke-width: 2px;
}

.graph_button {
    -fx-background-radius: 50px;
    -fx-background-size: 100px;
    -fx-font-size: 20px;
}

/* Fuel bar style */

.fuel_bar {
    -fx-fill: #0fff13;
}

.fuel_bar_container {
    -fx-border-style: solid;
    -fx-border-color: -fx-logo-color;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.fuel_bar_container .label .text{
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}
 /*---------Menubar---------*/
.menubar{
    -fx-fill: #747474;
    -fx-stroke: #747474;
    -fx-effect: dropshadow(three-pass-box, #4b4b4b, 10, 0, 0, 0);
}

.menubutton{
    -fx-background-color: #bababa;
    -fx-background-radius: 100px;
    -fx-effect: dropshadow(three-pass-box, #4b4b4b, 10, 0, 0, 0);
}

/*---------Settings---------*/

.master_scroll_pane {
    -fx-background-color:  -fx-standard-background;
    -fx-stroke: #636363;
}

.scrollContentPane{
    -fx-background-color: #bababa;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #4b4b4b, 10, 0, 0, 0);
}

.scrollPane{
    -fx-background-insets: 10;
}

.settingsButton{
      -fx-background-radius: 100px;
      -fx-effect: dropshadow(three-pass-box, #4b4b4b, 3, 0, 0, 0);
}

.settings_final_button {
    -fx-font-size: 15px;
    -fx-background-radius: 100px;
    -fx-effect: dropshadow(three-pass-box, #4b4b4b, 3, 0, 0, 0);
}